<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fakeshopping">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FakeShopApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_fakeshopping"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fakeshopping"
        android:supportsRtl="true"
        android:theme="@style/Theme.FakeShopping"
        tools:targetApi="31">
        <activity
            android:name=".OrderPaymentActivity"
            android:exported="false"
            android:label="@string/title_activity_order_payment"
            android:theme="@style/Theme.FakeShopping"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FakeShopping"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>

                <data android:host="fakeshop.in"
                      android:scheme="https"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="android.intent.action.VIEW"/>

            </intent-filter>

        </activity>

        <receiver android:name=".deliverydepartment_notifications.DeliveryNotificationReceiver" />
        <receiver android:name=".otp_code_notification.OtpNotificationReceiver" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_mSc4yamsDh8f16" />
    </application>

    <queries>
        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app"/>
        <package android:name="in.org.npci.upiapp"/>
        <package android:name="net.one97.paytm"/>
        <package android:name="in.amazon.mShop.android.shopping"/>
        <package android:name="com.sbi.upi"/>
        <package android:name="com.fss.pnbpsp"/>
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

</manifest>